In [ ]:
#1
"""
VALUES ARE 0 AND 1
THEY ARE WRITTEN AS True AND False

"""

In [ ]:
#2
and or not

In [ ]:
#3
"""True and True = True                        
True and False = False
False and True = False
False and False = False

True or True = True
True or False = True
False or True = True
False or False = False

not True = False
not False = True

"""

In [1]:
#4
(5 > 4) and (3 == 5)

False

In [2]:
not (5 > 4)

False

In [3]:
(5 > 4) or (3 == 5)

True

In [4]:
(True and True) and (True == False)

False

In [5]:
(not False) or (not True)

True

In [ ]:
#5
<,
>,
==,
<=,
>=,
!=

In [7]:
#6
a = 10 #here it is an assignment operator. a values will be 10
print(a)

b=10
a==b          #we checked the condition and its true, this is a equal to operator

10

True

In [19]:
#7
spam = 0
if spam == 10:
    print('eggs') #Block 1
if spam > 5:
    print('bacon') #Block 2
else:
    print('ham') #Block 3
    print('spam')
    print('spam')

spam

In [4]:
#8
spam=int(input())
if spam==1:
    print("Hello")
elif spam==2:
    print("Howdy")
else:
    print("Greetings!")

3
Greetings!

In [ ]:
#9
#will press the interrupt the kernel key towards right of run

In [ ]:
#10
#break terminates the loop
#continue makes sure the loop runs again and again

In [20]:
#11
for i in range(10):  
    print(i)                  #creating a range of values from 0 to 10 (excluding the last number)

0
1
2
3
4
5
6
7
8
9

In [21]:
for i in range(0,10):            #by default the increment is always 1 
    print(i)

0
1
2
3
4
5
6
7
8
9

In [22]:
for i in range(0, 10, 1):
    print(i)                         #this statement we are specifying the increment is 1
                                     #all three cases are same . only difference is way of writing

0
1
2
3
4
5
6
7
8
9

In [24]:
#12
for i in range(1,11,1):
    print (i, end=" ")

1 2 3 4 5 6 7 8 9 10

In [37]:
a = 1
while a < 11:
    print(a,end=" ")
    a=a+1

1 2 3 4 5 6 7 8 9 10

In [ ]:
#13