In [ ]:
# 1st 
"""
*  is a mathematical operators

'hello'  is a string 

-87.8  is a float type 

-   is  a mathematical operator
/   is  a mathematical operator
+   is a mathematical operator

"""

In [ ]:
#2nd
"""string is a sequence/collection of character type data for example name of person, or words.

varaible is a way of storing any unknown value or any value that can be used later in the program.

"""

In [ ]:
#3rd
"""
int - integer type data for ex numbers - 23,45,67,89
float - floating point values ex- 78.59,456.489
boolean - either true or false that is 0 or 1"""

In [ ]:
#4th
"""
an expression is made up variable,operators ,operands. 
expression evaluates the outcome of the line to a single value """

In [ ]:
#5th
"""expression evaluates the entered combination of operators,literals and is interpreted by the complier to give a  result
statement is just a way for assigning values or writing comments or lines of code"""

In [3]:
#6th
bacon=22
bacon+1           
print(bacon)   # so the value of bacon remained the same that is 22

22

In [4]:
#7
'spam' + 'spamspam'     # value for this is 'spamspamspam'

'spamspamspam'

In [5]:
'spam' * 3             #value for this is 'spam' * 3

'spamspamspam'

In [ ]:
#8
"""100 is a integer type. its value is fixed. 
we cannot assign any other value to 100, which defeats the sole purpose of a variable which means that varaible value 
can be anything that we want to assign
So eggs is a valid varaible name
"""

In [ ]:
#9
int(),float(),str()

In [6]:
#10
'I have eaten ' + 99 + ' burritos.' 
#string can only we added to a string type  , here this line is trying to concatenate string with an integer type value

TypeError: can only concatenate str (not "int") to str